<footer class="panel-footer">
        <div class="container">
          <div class="text-center">
            <span>Some sort of footer text here</span>
          </div>
          <div class="text-center">&copy; Designed by Team ANR</div>
        </div>
</footer>