<footer class="panel-footer">
        <div class="container">
          <div>
            <blockquote class="blockquote">
                <p class ="mb-0">“A map does not just chart, it forms bridges between disparate ideas that we did not know were previously connected.
                </p>
                <p class="blockquote-footer">"Discover The Selected Works of T.S. Spivet"</p>
            </blockquote>
          </div>
          <div class="text-center">&copy; Designed by Team ANR</div>
        </div>
</footer>