<nav class="navbar navbar-toggleable-md navbar-fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </span>
</button>
<a class="navbar-brand" href="/">
  <i class="fa fa-map-pin" aria-hidden="true"></i>
  MAP ATTACK
</a>
<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/maps"> map list
      <!-- <button class="btn btn-outline-primary my-2 my-sm-0 nav-btn" type="submit">Maps</button> -->
    </a>
    <a class="nav-item nav-link" href="/users/profile">my profile
      <!-- <button class="btn btn-outline-primary my-2 my-sm-0 nav-btn" type="submit">Profile</button> -->
    </a>
    <a id="lnk-logout" class="nav-item nav-link" href="/users/logout">sign out</a>
    <a href="/maps/new">
      <button id="btn-create-map" class="btn btn-outline-success my-2 my-sm-0 nav-btn" type="submit">create a map!</button>
    </a>
  </div>
</div>
</nav>
