<!DOCTYPE html>
<html>
<head>
  <title>Create Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
<% include ./partials/_nav %>
   <form method="POST" action="/maps">
    <label for="map_name">Name</label><br>
    <input id="map_name" name="map_name"><br>
    <label for="description">description</label><br>
    <input id="description" name="description"><br>
    <input type="submit">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/create-map.js" ></script>
  </script>
</body>

</html>
