<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>

  <nav></nav>
  <form method="PUT" action="./maps/edit">
    <label for="mapname">Name</label><br>
    <input id="map_name" name="name"><br>
    <label for="description">description</label><br>
    <input id="descipriton"descipriton"><br>
    <input type="submit">

  </form>
  <div id="map" class="map"></div>
  <!-- Replace the value of the key parameter with your own API key. -->
  <script>
    var map;
    //should be a ajax request to db
    var arrOfPoints =[];
    //function that is run on google api callback
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        //should be a calsulated center using point position from db
        center: {lat: -33.872, lng: 151.252},
      });
      function addMarker(coordsObj){
        var marker = new google.maps.Marker({
          position:coordsObj,
          map:map
        });
        var contentString = `
        <h1>Fill out the Form and press submit to create POI!!</h1>
        <form method="POST" action="./mapsid/edit">
          <label for="mapname">Name</label><br>
          <input id="map_name" name="name"><br>
          <label for="description">description</label><br>
          <input id="descipriton" name="descipriton"><br>
          <label for="map_pic_url">url</label><br>
          <input id="map_pic_url" name="map_pic_url"><br>
          <input type="submit">
        </form>`
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        })

        marker.addListener('click', function(){
          infowindow.open(map, marker);
        });
        marker.addListener('dblclick', function(){
          marker.setMap(null);
        });
      }

      google.maps.event.addListener(map, 'click', function(event){
        addMarker({lat:event.latLng.lat(), lng:event.latLng.lng()});
      })
    }


  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVs-nA4gx8MttxUZieOa2IeI_RJEt3O_Y&callback=initMap" async defer>
  </script>
</body>

</html>