<!DOCTYPE html>
<html>
<head>
  <title>edit Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <% include partials/_head %>
  <style>
    .highlighted{
      background-color:red;
    }
  </style>
  <script src="/scripts/edit-map.js" ></script>
</head>

<body>
  <% include partials/_nav %>
  <br>
  <h1 class="main-content"><%= templateVars.maps.title %></h1>
  <div id="main-content" class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <div id="points">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron content-map" id="map-container"></div>

    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
</body>

</html>
