<!DOCTYPE html>
<html>

<head>
  <title>edit Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <% include partials/_head %>

    <script src="/scripts/edit-map.js"></script>
</head>

<body>
  <div id="container">
    <div id="main">

      <% include partials/_nav %>

      <br>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <h1 class="edit-map-title" id="mapId" data-mapid=<%=templateVars.maps.id%> data-userid=<%=templateVars.maps.userid%>>
            <%= templateVars.maps.title %>
          </h1>
        </div>
        <div class="col-lg-3 search-form">
          <div class="search-center">
            <Label> Center On </Label>
            <input class="city-country">
            <button class="btn btn-info" id="search-city">Center</button>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div id="main-content" class="row">
        <div class="col-lg-2">
          <h2>Double click to delete!</h2>
          <div id="points">
          </div>
          <br>
          <h2>Simply click somewhere on the map to add points!!</h2>
        </div>
        <div class="col-lg-10">
          <div class="jumbotron display-edit-map" id="map-container"></div>
        </div>
      </div>
      <button class="save-button btn btn-success"><h1>SAVE CHANGES</h1></button>
    </div>
  </div>

  <% include partials/_foot %>

</body>

</html>
