<html lang="en">

<head>
  <% include partials/_head %>
    <title>MAP ATTACK</title>
</head>

<body>
  <div id="container">
    <div id="main">

      <% include partials/_nav %>

      <div id="title-container" class="container">

        <div class="row website-intro text-center">
          <h1>Welcome to Map Attack! Share your favorite locations with our online community!</h1>
        </div>

      </div>

      <div id="map-container" class="custom-map-holder content-map content-iframe">
        <!-- Sample map lies in here -->
      </div>

      <div class="container banner-holder">
        <!--3 Columns of the App description-->
        <div class="row">
          <div class="col-md-4 text-center">
            <h3><i class="fa fa-share-alt" aria-hidden="true"></i> Share</h3>
            <p>Share your favorite restaurants, bars, museums, and lots more! Mat Attack lets you seamlessly share your custom
              maps with friends and family.</p>
          </div>

          <div class="col-md-4 text-center">
            <h3><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</h3>
            <p>Really like a place? Make you sure you never have to search for it again by saving it on Map Attack. Save locations
              with images, descriptions and more! </p>
          </div>

          <div class="col-md-4 text-center">
            <h3><i class="fa fa-plus" aria-hidden="true"></i> Create</h3>
            <p>Curate your own maps and collections for whatever category your heart desires. You can also contribute to other
              maps to make the world a better place.</p>
          </div>
        </div>
        <!--End of 3 columns of App desciprtion-->

      </div>
      <!-- End of #main-content -->
    </div>
  </div>

  <% include partials/_foot %>

</body>

<!-- **************************ADDING CUSTOM MAP********************* -->
<script>
    
    var map;
    markers = [
    ["2016-11-19T15:46:29.931Z", "Great Thai restaurant with excellent Green curry!", 1, "http://www.thaifantasy.ca/images/thai-fantasy.jpg", "43.665120", "-79.384809", 1, "Thai Fantasy", 1],
    ["2017-07-18T19:32:24.643Z", "Great pizza place with a variety of pizzas and oth…orites. Excellent home delivery service included!", 2, "https://s3-media4.fl.yelpcdn.com/bphoto/i2-wMPr2_jS8yKl0o2EWXw/ls.jpg", "43.643378", "-79.392022", 1, "Dominos Pizza", 1],
    ["2016-10-05T16:54:35.146Z", "Longtime, casual eatery specializing in oysters & seasonal seafood dishes, plus drinks.", 3, "http://www.blogto.com/listings/restaurants/upload/2016/05/20160502-590-Rodneys8.jpg", "43.644947", "-79.396845", 1, "Rodney's Oyster House", 1],
    ["2017-03-12T08:15:44.967Z", "Flame-seared sushi is the specialty at this Japanese fine-dining destination with soaring ceilings.", 4, "https://mikutoronto.com/wp-content/uploads/2014/01/sashimi-1500x630.jpg", "43.641182", "-79.377493", 1, "Miku Toronto", 2],
    ["2016-11-02T04:12:07.299Z", "Refined menu & decor evoke the North at the Hilton, plus a chic bar mixing signature cocktails.", 5, "https://s3-media3.fl.yelpcdn.com/bphoto/KCW8v3qxflf1EjdQveB1YA/348s.jpg", "43.649616", "-79.385447", 1, "Tundra Restaurant and Bar", 3]
    ];
    
    function createMapWithPoints(markers) {
    
      var myOptions = {
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false
      };
      map = new google.maps.Map(document.getElementById("map-container"),myOptions);
      var infowindow = new google.maps.InfoWindow();
      var marker, i;
      var bounds = new google.maps.LatLngBounds();
    
      for (i = 0; i < markers.length; i++) {
          var pos = new google.maps.LatLng(markers[i][4], markers[i][5]);
          bounds.extend(pos);
          marker = new google.maps.Marker({
              position: pos,
              map: map
          });
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                var contentString = 
                `<div class = "pop-up-marker-div">
                  <p class="pop-up-marker-p1 text-center">${markers [i][7]}</p></br>
                  <p class="pop-up-marker-p2">${markers[i][1]}</p>
                  <p class="pop-up-marker-img"><img class = "img-window" src = "${markers[i][3]}"></p>
                </div>`;
                  infowindow.setContent(contentString);
                  infowindow.open(map, marker);
              }
          })(marker, i));
      }
      map.fitBounds(bounds);
      google.maps.event.addListenerOnce(map, 'idle', function(){
        // do something only the first time the map is loaded
        if(markers.length <=0){
          map.setCenter({lat: 43.6532, lng: -79.3832});
          map.setZoom(8)
        }
        if(map.getZoom() > 18){
         map.setZoom(12);
        };
      })
      //-------------------------------
      google.maps.event.addListener(infowindow, 'domready', function() {
        
           var iwOuter = $('.gm-style-iw');
           var iwBackground = iwOuter.prev();
           // Remove the background shadow DIV
           iwBackground.children(':nth-child(2)').css({'display' : 'none'});
           // Remove the white background DIV
           iwBackground.children(':nth-child(4)').css({'display' : 'none'});
        
           var iwCloseBtn = iwOuter.next();
           
           // Apply the desired effect to the close button
           iwCloseBtn.css({
             opacity: '1', 
             right: '38px', top: '3px', 
             border: '7px solid #48b5e9',
             'border-radius': '13px', 
             'box-shadow': '0 0 5px #3990B9'
             });
           
           iwCloseBtn.mouseout(function(){
             $(this).css({opacity: '1'});
           });
        })
    }


    $("map-container").html("");
    $("map-container").append(createMapWithPoints(markers));
    </script>


</html>
