<html lang="en">
        
    <head>
        <% include partials/_head %>
        <title>MAP ATTACK</title>
    </head>
    
    <body>
    
            <% include partials/_nav %>
            <% include partials/_getFavourite %>
    
        <h1 class = "text-center" style = "margin-top: 100px; ">
            Oops! Looks like you try to access a map that doesn't exist.
        </h1>
        <h2 class = "text-center" style = "margin-bottom: 480px;">
            Please hit the BACK button!
        </h2>

    
        <% include partials/_foot %>
    
    </body>
        
</html>
        