<html lang="en">

<head>
  <% include partials/_head %>
    <title>MAP ATTACK</title>
</head>

<body>
  <div id="container">
    <div id="main">

      <% include partials/_nav %>
      <% include partials/_getFavourite %>

      <h1 class="text-center list-header">Here's a list of Maps! Get navigating!</h1>
      <div class="container">
        <ul class="list-group">
          <% for(var i = 0; i < results.length; i++) { %>
            <div class="conatiner fav-row" data-map-id="<%= results[i].id %>">
              <div class="row">
                <a href="/maps/<%= results[i].id %>/view" class="list-group-item list-group-item-action">
                  <div class="col-sm-9">
                    <%= results[i].title + " --- (" + results[i].description.substring(0, 50) + " ...)"%>
                  </div>
                  <div class="col-sm-1 fav-icon">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="col-sm-1 fav-count">
                    <span class="badge badge-default badge-pill"><%= results[i].fav_count %></span>
                  </div>
                  <div class="col-sm-1">
                  </div>
                </a>
              </div>
            </div>
            <% } %>
          </ul>
        </div>

    </div>
  </div>

  <% include partials/_foot %>

</body>

</html>
