<html lang="en">
        <head>
          <% include partials/_head %>
          <title>MAP ATTACK</title>
        </head>
      <body>
          <% include partials/_nav %>    
      
        <div id="list-of-maps" class="container">
            <h1>Here will lie the list of maps</h1>
            <%= results %> 
        </div>
      
          <!--3 Columns of the App description-->
          <!-- <div class= "row">
              <div class="col-md-4 text-center">
              <h3><i class="fa fa-share-alt" aria-hidden="true"></i> Share</h3>
              
              <p class="text-center">Share your favorite restaurants, bars, museums, and lots more! Mat Attack lets you seamlessly share your custom maps with friends and family.</p>
              </div>
              
              <div class="col-md-4 text-center">
              <h3><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</h3>
              <p>Really like a place? Make you sure you never have to search for it again by saving it on Map Attack. Save locations with images, descriptions and more! </p>
              </div>
              
              <div class="col-md-4 text-center">
              <h3><i class="fa fa-plus" aria-hidden="true"></i> Create</h3>
              <p>Curate your own maps and collections for whatever category your heart desires. You can also contribute to other maps to make the world a better place.</p>
              </div>
          </div>  -->
          <!--End of 3 columns of App desciprtion-->
      
        </div><!-- End of #main-content -->
      
        <% include partials/_foot %>
      
      </body>
      </html>