<html lang="en">
    <head>
        <% include partials/_head %>
        <title>MAP ATTACK</title>
    </head>
    <body>
          <% include partials/_nav %>    
          
        <h1 class = "text-center">Here's a list of Maps! Get navigating!</h1>
        <div class="container table-header">
            <div class="row">
                <div class="col">
                Map Titles
                </div>
                <div class="col-6">
                Description
                </div>
                <div class="col">
                # of favorites
                </div>
            </div>
        </div>  

        <div class="list-of-maps" class="container">
            <% for(var i = 0; i < results.length; i++) { %>
                <div class="container">
                    <div class="row">
                        <div class="col">
                        <%= results[i].title %>
                        </div>
                        <div class="col-6">
                        <%= results[i].description %>
                        </div>
                        <div class="col">
                        FAVORITES
                        </div>
                    </div>
                </div>
            <% } %>

        </div>
        

      
      
        <% include partials/_foot %>
      
    </body>
</html>