<html lang="en">
  <head>
    <title>MAP ATTACK</title>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>

    <div id="main-content" class="container">

      <div class="map-description">

        <p class="map-name"> Name of the Map: <%= template.title %> </p>
        <p class="map-description"> Description: <%= template.description %> </p>
        <p class = "hearts-holder text-center">
          <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
          <span>###</span>
        </p>

        
      </div>

      <div class="jumbotron content-map">
          <div id="map-container"class = "container content-iframe" style="height: 500px; width: 690px;">
              <!-- This div holds the dynamically rendered map.-->
          </div>
          
      </div>


    </div><!-- End of #main-content -->
    


    <!-- API Links to load the maps -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfyL3GmxEPKHIVTMAvnz84eC_8I7gRHF8">
    </script>
    <script src="/scripts/app.js" ></script>
    
    <% include partials/_foot %>


  </body>
</html>


