<html lang="en">
  <head>
    <title>MAP ATTACK</title>

    <!-- CSS/SASS/BOOTSTRAP STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/layout.css">

    <!-- External CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <header>
      <% include partials/_nav %>
    </header>
    <div id="main-content" class="container">

      <div class="map-description">

        <p id="map-name"> Name of the Map: <%= template.title %> </p>
        <p id="map-description"> Description: <%= template.description %> </p>

        
      </div>

      <div class="jumbotron content-map">
          <div id="map-container"class = "container content-iframe">

              <!-- This div will hold the dynamically rendered map.  -->

          </div>
      </div>

    </div><!-- End of #main-content -->
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/app.js" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVs-nA4gx8MttxUZieOa2IeI_RJEt3O_Y&callback=initMap" async defer>
  </script>
  


  </body>
</html>
