footer {
  background-color: $color1;
  color: $color5;
  height: 180px;
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  clear:both;
  padding-top:20px;

  .mb-0 {
    font-size:medium;
  }

  .blockquote, .blockquote-footer {
    margin:0;
    font-size: medium;
  }

}
