.container > .website-intro {
    margin: 15px;
    font-size: large;
    font-weight: 900;
}


//showmaplist.ejs

.list-header h1 {
    margin:20px;
}

.links-holder {

    a:link {
        color: red;
    }
    a:visited {
        color: yellow;
    }
    a:active {
        color: hotpink;
    }
    a:hover {
        color: blue;
    }

    th {
        font-weight: 900;
        font-size: larger;
    }
}
