#title-container {
    padding: 1em 0;
}

.container > .website-intro {
    font-size: large;
    font-weight: 900;
}

//Custom map on landing page

.custom-map-holder {
    height: 500px;
    margin-bottom: 15px;
}

.links-holder {

    a:link {
        color: red;
    }
    a:visited {
        color: yellow;
    }
    a:active {
        color: hotpink;
    }
    a:hover {
        color: blue;
    }

    th {
        font-weight: 900;
        font-size: larger;
    }
}

#map-table {

    tr:hover { background: #8B8686; }
    td a { 
        display: block; 
        padding: 16px;
        text-decoration: none;
    }

}

.container.table-responsive {
    width: 1140px;
    border: 1px solid black;
}

h1.text-center.list-header {
    margin-top: 20px;
    margin-bottom: 20px;
}