
.display-edit-map{
  height: 700px
}

.point{
  background-color:beige;
}

.highlighted{
  background-color: red;
}
.marker-content{
  max-width: 300px;
  display: flex;
}
.point-image{
  width: 300px;
}

.save-button{
  box-sizing:content-box;
  margin: 10px;
}

.search-form{
  background-color: $color4;
  border-radius: 5px;
  padding: 10px;
  margin: auto 20px;
  text-align: center;
  box-sizing: content-box;
}