
.display-edit-map{
  height: 700px
}

.point{

  a {
    color: white;
  }
}

.highlighted{
  background-color: red;
}
.marker-content{
  max-width: 300px;
  display: flex;
}
.point-image{
  width: 300px;
}

.save-button{
  box-sizing:content-box;
  margin: 10px;
}

