@import 'favourites';
@import 'viewpage';
@import 'landingpage';
@import 'thepalette';

body {
  background-color: $color4;
  font-family: 'Raleway', sans-serif;

  h1 {
    color: #244751;
  }
}

.jumbotron {
  padding: 0px;
  border-radius:0;
  background-color:$color4;
}

footer {
  background-color:#292b2c;
  color:white;
  height: 60px;
}