body {
  background-color: #EEE;
  font-family: 'Raleway', sans-serif;

  h1 {
    color: #244751;
  }
}

<<<<<<< HEAD
@import 'favourites';
@import 'listpoints';
=======
@import 'profile';
>>>>>>> be9050d05a7e61111833eb222e43186201c4530a
