/* Coolors Exported Palette - coolors.co/ffd9da-ea638c-89023e-30343f-1b2021 */

/* HSL */
$color1: hsla(358%, 100%, 93%, 1);
$color2: hsla(342%, 76%, 65%, 1);
$color3: hsla(333%, 97%, 27%, 1);
$color4: hsla(224%, 14%, 22%, 1);
$color5: hsla(190%, 10%, 12%, 1);

/* RGB */
$color1: rgba(255, 217, 218, 1);
$color2: rgba(234, 99, 140, 1);
$color3: rgba(137, 2, 62, 1);
$color4: rgba(48, 52, 63, 1);
$color5: rgba(27, 32, 33, 1);