/* Coolors Exported Palette - coolors.co/f1f2eb-d8dad3-a4c2a5-566246-4a4a48 */

/* HSL */
$color1: hsla(69%, 21%, 94%, 1);
$color2: hsla(77%, 9%, 84%, 1);
$color3: hsla(122%, 20%, 70%, 1);
$color4: hsla(86%, 17%, 33%, 1);
$color5: hsla(60%, 1%, 29%, 1);

/* RGB */
$color1: rgba(241, 242, 235, 1);
$color2: rgba(216, 218, 211, 1);
$color3: rgba(164, 194, 165, 1);
$color4: rgba(86, 98, 70, 1);
$color5: rgba(74, 74, 72, 1);